@model Tuple<HiyoshiCfhWeb.Models.ShipInfo, List<HiyoshiCfhWeb.Models.Ship>>
@{
    ViewBag.Title = Model.Item1.Name;
    var shipInfo = Model.Item1;
    var ships = Model.Item2;
}
<h2>@Html.DisplayFor(model => model.Item1.ShipType.Name) @shipInfo.Name</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            次の改装レベル
        </dt>
        <dd>
            @if (shipInfo.NextRemodelingLevel != null)
            {
                <text>Lv. @shipInfo.NextRemodelingLevel</text>
            }
            else
            {
                <text>改装完了</text>
            }
        </dd>
    </dl>
</div>
<h3>各母港への所属状況</h3>
<table class="table">
    <tr>
        <th>
            提督
        </th>
        <th>
            レベル
        </th>
        <th>
            累積経験値
        </th>
        <th>
            次レベルまでの経験値
        </th>
    </tr>
    @foreach (var item in ships)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Admiral.Name, "Homeport", "Headquarters", new { id = item.Admiral.Name }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpForNextLevel)
            </td>
        </tr>
    }
</table>
