@{
    ViewBag.Title = "設定";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("事前登録許可", "Index", "Permission")</li>
    <li>@Html.ActionLink("権限管理", "Index", "Role")</li>
    <li>@Html.ActionLink("ユーザー", "Users")</li>
</ul>

@using (Html.BeginForm("Deduplication", null))
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="重複除去" class="btn btn-default" />
    </div>
}

@using (Html.BeginForm("SaveSortieTags", null))
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="出撃識別札の保存" class="btn btn-default" />
    </div>
}
