@model HiyoshiCfhWeb.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                構成済みの外部認証サービスはありません。
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            var p = loginProviders.First();
            <input type="hidden" name="provider" value="@p.AuthenticationType" />
            <p>
                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" title="@p.Caption アカウントを使用してログイン">Sign in with @p.AuthenticationType</button>
            </p>
        }
    }
}
