@model HiyoshiCfhWeb.Models.Admiral
@{
    var admiral = Model;
    var db = HiyoshiCfhWeb.Models.ApplicationDbContext.Create();
    var admirals = db.Admirals;
    var subPages = HiyoshiCfhWeb.Controllers.HeadquartersController.subPages;
    string title = ViewBag.Title;
    IEnumerable<string> shipTypes = null;
    if (ViewBag.ShipType != null)
    {
        title = "所属艦娘";
        shipTypes = db.ShipTypes.ToList()
            .GroupBy(x => HiyoshiCfhWeb.Models.ShipType.GroupShipType(x.Name))
            .Select(x => x.Key);
    }
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">司令部</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">@admiral.Name<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var item in admirals)
                    {
                        if (item.AdmiralId == admiral.AdmiralId)
                        {
                            <span class="dropdown-item disabled">@item.Name</span>
                        }
                        else if (ViewBag.ShipType != null)
                        {
                            @Html.ActionLink(item.Name, null, new { id = item.Name, param = ViewBag.ShipType.Replace("+", "_") }, new { @class = "dropdown-item" })
                        }
                        else
                        {
                            @Html.ActionLink(item.Name, null, new { id = item.Name }, new { @class = "dropdown-item" })
                        }
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">@title<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var item in subPages)
                    {
                        if (item.Item1 == title)
                        {
                            <span class="dropdown-item disabled">@item.Item1</span>
                        }
                        else
                        {
                            @Html.ActionLink(item.Item1, item.Item2, new { id = admiral.Name }, new { @class = "dropdown-item" })
                        }
                    }
                </div>
            </li>
            @if (ViewBag.ShipType != null)
            {
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.ShipType<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var item in shipTypes)
                        {
                            if (item == ViewBag.ShipType)
                            {
                                <span class="dropdown-item disabled">@item</span>
                            }
                            else
                            {
                                @Html.ActionLink(item, null, new { id = admiral.Name, param = item.Replace("+", "_") }, new { @class = "dropdown-item" })
                            }
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>

<h2>@admiral.Name 提督 - @ViewBag.Title</h2>
