@model HiyoshiCfhWeb.Models.Admiral

@{
    ViewBag.Title = "2015年 夏イベント";
    var tags = new[] {
                     Tuple.Create(1, "初動作戦", "#3C677F"),
                     Tuple.Create(2, "機動部隊", "#3B662A"),
                     Tuple.Create(3, "挺身部隊", "#839842"),
                     Tuple.Create(4, "西部方面", "#906736"),
                 };
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th></th>
        <th>E1</th>
        <th>E2</th>
        <th>E3</th>
        <th>E4</th>
        <th>E5</th>
        <th>E6</th>
        <th>E7</th>
    </tr>
    <tr style="background: @tags[0].Item3; color: #fff">
        <td>
            @tags[0].Item2
        </td>
        <td></td>
        <td></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
    </tr>
    <tr style="background: @tags[1].Item3; color: #fff">
        <td>
            @tags[1].Item2
        </td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="background: @tags[2].Item3; color: #fff">
        <td>
            @tags[2].Item2
        </td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
    </tr>
    <tr style="background: @tags[3].Item3; color: #fff">
        <td>
            @tags[0].Item2
        </td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
        <td></td>
        <td style="background: #fff"></td>
        <td style="background: #fff"></td>
    </tr>
</table>

<h3>出撃識別札</h3>

<div class="raw">
    @foreach (var tag in tags)
    {
        <div class="col-md-3 col-sm-6">
            <h4>@tag.Item2</h4>
            <table class="table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        艦名
                    </th>
                    <th>
                        レベル
                    </th>
                </tr>
                @foreach (var ship in Model.Ships.Where(x => x.SortieTag == tag.Item1).OrderByDescending(x => x.Level))
                {
                    <tr style="border-left: 5px solid @tag.Item3">
                        <td>
                            @Html.DisplayFor(modelItem => ship.ShipId)
                        </td>
                        <td>
                            @Html.ActionLink(ship.ShipInfo.Name, "Index", "Ship", routeValues: new { id = ship.ShipInfo.Name }, htmlAttributes: null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ship.Level)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>