@model HiyoshiCfhWeb.Models.Admiral
@using System.Linq;
@using HiyoshiCfhWeb.Models;
@{
    ViewBag.Title = "母港";
    var admiral = Model;
}

@Html.Partial("_HeaderPartial", admiral)

@Html.Partial("_AdmiralPartial", admiral)
<div class="row">
    <div class="col-md-8">
        @Html.Partial("_SimpleStatisticsPartial", admiral)
    </div>
    <div class="col-md-4">
        <h3>各種ツール</h3>
        <p>@Html.ActionLink("任務進捗", "Quests", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("イベント", "Event", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("資材統計", "Materials", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
@Html.Partial("_ShipTablePartial", admiral.Ships.OrderByDescending(x => x.Level))
