@model HiyoshiCfhWeb.Models.Admiral
@using System.Linq;
@using HiyoshiCfhWeb.Models;

@{
    ViewBag.Title = "母港";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_AdmiralPartial", Model)
<div class="row">
    <div class="col-md-8">
        @Html.Partial("_SimpleStatisticsPartial", Model)
    </div>
    <div class="col-md-4">
        <h3>各種ツール</h3>
        <p>@Html.ActionLink("任務進捗", "Quests", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("イベント", "Event", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("資材統計", "Materials", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
@Html.Partial("_ShipTablePartial", Model.Ships.OrderByDescending(x => x.Level))
