@model HiyoshiCfhWeb.Models.Admiral
@{
    var admiral = Model;
    ViewBag.Title = "レベリング";
}
@Html.Partial("_HeaderPartial", admiral)

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    艦種
                </th>
                <th>
                    艦名
                </th>
                <th>
                    レベル
                </th>
                <th>
                    改造状況
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in admiral.Ships.OrderByDescending(x => x.Level))
            {
                <tr>
                    <td>
                        @item.ShipId
                    </td>
                    <td>
                        @item.ShipInfo.ShipType.Name
                    </td>
                    <td>
                        @Html.ActionLink(item.ShipInfo.Name, "Index", "Ship", routeValues: new { id = item.ShipInfo.Name }, htmlAttributes: null)
                    </td>
                    <td>
                        @item.Level
                    </td>
                    <td>
                        @if (item.ShipInfo.NextRemodelingLevel == null)
                        {
                            <text>改造完了</text>
                        }
                        else
                        {
                            @(item.LevelForNextRemodeling <= 0 ? "改造可能" : "(+" + item.LevelForNextRemodeling.ToString() + ")")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
