@model Tuple<HiyoshiCfhWeb.Models.Admiral, List<IGrouping<string, HiyoshiCfhWeb.Models.ShipInfo>>>
@{
    ViewBag.Title = "艦娘図鑑";
    var admiral = Model.Item1;
    var shipMaster = Model.Item2;
}
@Html.Partial("_HeaderPartial", admiral)

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    艦名(仮名)
                </th>
                <th>
                    艦名
                </th>
                <th>
                    艦種
                </th>
                <th>
                    改造レベル
                </th>
                <th>
                    所属状況
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var series in shipMaster)
            {
                string trClass = null;
                if (admiral.Ships.Where(x => x.ShipInfo.Kana == series.Key).Count() == 0)
                {
                    trClass = "not-belong";
                }
                <tr style="border-top: 2px solid rgb(0, 0, 0);" class="@trClass">
                    <td rowspan="@series.Count()">
                        @series.Key
                    </td>
                    @foreach (var item in series.OrderBy(x => x.NextRemodelingLevel).OrderByDescending(x => x.NextRemodelingLevel.HasValue).Select((v, i) => new { v, i }))
                    {
                        if (item.i != 0)
                        {
                            @Html.Raw("</tr>");
                            if (trClass != null)
                            {
                                @Html.Raw("<tr class=\"" + trClass + "\">");
                            }
                            else
                            {
                                @Html.Raw("<tr>");
                            }
                        }
                        <td>
                            @Html.ActionLink(item.v.Name, "Index", "Ship", routeValues: new { id = item.v.Name }, htmlAttributes: null)
                        </td>
                        <td>@item.v.ShipType.Name</td>
                        <td>@item.v.NextRemodelingLevel</td>
                        <td>
                            @{
                                var ships = admiral.Ships.Where(x => x.ShipInfoId == item.v.ShipInfoId);
                            }
                            @if (ships.Count() == 0)
                            {
                                <text>所属なし</text>
                            }
                            else
                            {
                                foreach (var ship in ships)
                                {
                                    <text>Lv.@ship.Level </text>
                                }
                            }
                        </td>
                                }
                </tr>
                                }
        </tbody>
    </table>
</div>
