@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "役割管理";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("役割の作成", "Create") | @Html.ActionLink("役割の割り当て", "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure to delete?')">
                @Html.ActionLink("削除", "Delete", new { RoleName = @role.Name })
            </span> |
            @Html.ActionLink("編集", "Edit", new { roleName = @role.Name })
        </p>
    }
</div>
