@model IEnumerable<HiyoshiCfhWeb.Models.Ship>
@{
    var targetEvent = HiyoshiCfhWeb.Models.Event.Events.Last();
}
<h2>所属艦娘一覧</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                艦名
            </th>
            <th>
                レベル
            </th>
            <th>
                出撃識別札
            </th>
            <th>
                ロック
            </th>
            <th>
                累積経験値
            </th>
            <th>
                次レベルまでの経験値
            </th>
            <th>
                HP
            </th>
            <th>
                燃料
            </th>
            <th>
                弾薬
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="@(item.LevelForNextRemodeling <= 0 ? "table-info" : null)">
                <td>
                    @item.ShipId
                </td>
                <td>
                    @Html.ActionLink(item.ShipInfo.Name, "Index", "Ship", routeValues: new { id = item.ShipInfo.Name }, htmlAttributes: null)
                </td>
                <td>
                    @item.Level
                </td>
                @{
                    var tagAttr = targetEvent.SortieTags.Where(x => x.InternalId == item.SortieTag).FirstOrDefault();
                    var tagRecord = item.SortieTagRecords.Where(x => x.EventId == targetEvent.Id).FirstOrDefault();
                    var tag = tagAttr ?? (tagRecord == null ? null : tagRecord.SortieTag);
                }
                @if (tag != null)
                {
                    <td style="background-color: @tag.WebColor; color: #FFF">@tag.Name</td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IsLocked)
                </td>
                <td>
                    @item.Exp
                </td>
                <td>
                    @item.ExpForNextLevel
                </td>
                <td>
                    @{var percentHp = (int)(item.Hp * 100.0 / Math.Max(item.ShipInfo.MaxHp, item.MaxHp));}
                    <div class="progress" style="margin-bottom: 0; width: 100px; float: left; height: 20px;">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="@percentHp"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentHp%;">
                            @percentHp%
                        </div>
                    </div>
                    @(item.Hp)/@Math.Max(item.ShipInfo.MaxHp, item.MaxHp)
                </td>
                <td>
                    @{var percentFuel = (int)(item.Fuel * 100.0 / item.ShipInfo.MaxFuel);}
                    <div class="progress " style="margin-bottom: 0; width: 100px; float: left; height: 20px;">
                        <div class="progress-bar bg-success" role="progressbar"
                             aria-valuenow="@percentFuel"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentFuel%;">
                            @percentFuel%
                        </div>
                    </div>
                    @(item.Fuel)/@item.ShipInfo.MaxFuel
                </td>
                <td>
                    @{var percentBull = (int)(item.Bull * 100.0 / item.ShipInfo.MaxBull);}
                    <div class="progress" style="margin-bottom: 0; width: 100px; float: left; height: 20px;">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="@percentBull"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentBull%;">
                            @percentBull%
                        </div>
                    </div>
                    @(item.Bull)/@item.ShipInfo.MaxBull
                </td>
            </tr>
        }

    </table>
</div>
