@model IEnumerable<HiyoshiCfhWeb.Models.Ship>
<h2>所属艦娘一覧</h2>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                艦名
            </th>
            <th>
                レベル
            </th>
            <th>
                出撃識別札
            </th>
            <th>
                ロック
            </th>
            <th>
                累積経験値
            </th>
            <th>
                次レベルまでの経験値
            </th>
            <th>
                HP
            </th>
            <th>
                燃料
            </th>
            <th>
                弾薬
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="@(item.LevelForNextRemodeling <= 0 ? "info" : null)">
                <td>
                    @Html.DisplayFor(modelItem => item.ShipId)
                </td>
                <td>
                    @Html.ActionLink(item.ShipInfo.Name, "Index", "Ship", routeValues: new { id = item.ShipInfo.Name }, htmlAttributes: null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                @switch (item.SortieTag)
                {
                    case 1:
                        <td style="background-color: #3C677F; color: #FFF">初動作戦</td>
                        break;
                    case 2:
                        <td style="background-color: #3B662A; color: #FFF">機動部隊</td>
                        break;
                    case 3:
                        <td style="background-color: #839842; color: #FFF">挺身部隊</td>
                        break;
                    case 4:
                        <td style="background-color: #906736; color: #FFF">西部方面</td>
                        break;
                    default:
                        <td></td>
                        break;
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IsLocked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpForNextLevel)
                </td>
                <td>
                    @{var percentHp = (int)(item.Hp * 100.0 / item.ShipInfo.MaxHp);}
                    <div class="progress" style="margin-bottom: 0; width: 100px">
                        <div class="progress-bar" role="progressbar"
                             aria-valuenow="@percentHp"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentHp%;">
                            @percentHp%
                        </div>
                    </div>
                </td>
                <td>
                    @{var percentFuel = (int)(item.Fuel * 100.0 / item.ShipInfo.MaxFuel);}
                    <div class="progress " style="margin-bottom: 0; width: 100px">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="@percentFuel"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentFuel%;">
                            @percentFuel%
                        </div>
                    </div>
                </td>
                <td>
                    @{var percentBull = (int)(item.Bull * 100.0 / item.ShipInfo.MaxBull);}
                    <div class="progress" style="margin-bottom: 0; width: 100px">
                        <div class="progress-bar progress-bar-warning" role="progressbar"
                             aria-valuenow="@percentBull"
                             aria-valuemin="0" aria-valuemax="100" style="width: @percentBull%;">
                            @percentBull%
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
